body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #ffffff;
 }
 
 header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  font-size: 1.5em;
}

 nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
 }
 
 nav li {
   margin: 0 10px;
 }
 
 nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

nav a:hover {
  color: #ddd;
}

 
 section {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding: 20px;
 }
 
 .game-card {
  width: 300px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.game-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

 
 .game-card h3 {
   padding: 10px;
   text-align: center;
 }
 
 .game-card button {
   display: block;
   width: 100%;
   padding: 10px;
   background-color: #000000;
   color: #fff;
   border: none;
   cursor: pointer;
 }
 
 footer {
  border-top: 1px solid #ddd;
  padding: 20px;
  font-size: 1.2em;
}

 @media (max-width: 768px) {
  .game-card {
   width: 100%;
   margin: 10px 0;
  }
 }
 